<!-- <input type="text" id="name" name="name" class="form-control"
                required minlength="4" appForbiddenName="bob"
                [(ngModel)]="username" #name="ngModel">

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">
            <div *ngIf="name.hasError('required')">
              Name is required.
            </div>
            <div *ngIf="name.hasError('minlength')">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.hasError('forbiddenName')">
              Name cannot be Bob.
            </div>
          </div> -->

<section class=" py-3 py-md-5 mt-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <a href="/login">
                <img src="./assets/loginFromLogo.png" alt="BootstrapBrain Logo" width="175" height="57">
              </a>
            </div>
            <h4 class="text-center mb-4">Sign Up new account</h4>


            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="username">Username <span style="color: red;">*</span></label>
                  <input id="username" class="form-control" type="text" required [(ngModel)]="signUpRequest.username"
                    #userName="ngModel" />

                  @if(userName.invalid && (userName.dirty || userName.touched)){
                    @if(userName.hasError('minlength')){
                      <div class="error">
                         Username is required.
                      </div>
                    }
                  }

                </div>
              </div>
              <div class="col">
                <div>
                  <label for="email">Email <span style="color: red;">*</span></label>
                  <input id="email" class="form-control" type="email" required [(ngModel)]="signUpRequest.email"
                    #email="ngModel" />

                  @if(email.invalid && (email.dirty || email.touched)){
                    @if(email.hasError('required')){
                      <div class="error">
                         Valid email is required.
                      </div>
                    }
                  }
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="firstname">First Name <span style="color: red;">*</span></label>
                  <input id="firstname" class="form-control" type="text" required [(ngModel)]="signUpRequest.firstName"
                    #firstname="ngModel" />

                  @if(firstname.invalid && (firstname.dirty || firstname.touched)){
                    @if(firstname.hasError('required')){
                      <div class="error">
                         First Name is required.
                      </div>
                    }
                  }

                </div>
              </div>
              <div class="col">
                <div>
                  <label for="lastname">Last Name <span style="color: red;">*</span></label>
                  <input id="lastname" class="form-control" type="email" required [(ngModel)]="signUpRequest.lastName"
                    #lastname="ngModel" />

                  @if(lastname.invalid && (lastname.dirty || lastname.touched)){
                    @if(lastname.hasError('required')){
                      <div class="error">
                         Last Name is required.
                      </div>
                    }
                  }

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="gender">Gender<span style="color: red;">*</span></label>
                  <!-- <input id="gender" class="form-control" type="text" required
                                        [(ngModel)]="signUpRequest.gender" #gender="ngModel" /> -->

                  <select id="gender" class="form-select" [(ngModel)]="signUpRequest.gender" required #gender="ngModel">
                    <option value="" disabled>Select</option>
                    <option *ngFor="let gendr of genderList" [value]="gendr">{{gendr}}</option>
                  </select>

                  @if(gender.invalid && (gender.dirty || gender.touched)){
                     @if(gender.hasError('required')){
                      <div class="error">
                     Gender is required.
                      </div>
                     }
                  }


                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="role">Role<span style="color: red;">*</span></label>
                  <!-- <input id="roles" class="form-control" formControlName="roles" type="text" /> -->
                  <select id="role" class="form-select" [(ngModel)]="signUpRequest.roles" required #role1="ngModel">
                    <option value="" disabled>Select</option>
                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                  </select>

                  @if(role1.invalid && (role1.dirty || role1.touched)){
                     @if(role1.hasError('required')){
                      <div class="error">
                     Role is required.
                      </div>
                     }
                  }

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="password">Password <span style="color: red;">*</span></label>
                  <input id="password" class="form-control" type="password" required minlength="6"
                    [(ngModel)]="signUpRequest.password" #password="ngModel" />

                  @if(password.invalid && (password.dirty || password.touched)){
                      @if(password.hasError('required')){
                        <div class="error">
                          Password is required.
                        </div>
                      }
                     @if(password.hasError('minlength')){
                      <div class="error">
                         Password is required (minimum 6 characters).
                      </div>
                     }
                  }

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="confirmpassword">Confirm Password <span style="color: red;">*</span></label>
                  <input id="confirmpassword" class="form-control" type="password" required minlength="6"
                    [(ngModel)]="confirmPassword" #confirmPass="ngModel" />
                  <!-- <div class="error"
                                *ngIf="password.hasError('required') || password.hasError('required')">
                                Password is required (minimum 6 characters).
                            </div> -->
                </div>
              </div>
            </div>


            @if(signUpRequest.roles==='SELLER'){
            <div class="seller_section">
              <div class="row">
                <div class="col">
                  <div>
                    <label for="storename">Store Name</label>
                    <input id="storename" class="form-control" type="text" required
                      [(ngModel)]="signUpRequest.storeName" #storename="ngModel" />

                    @if (storename.invalid && (storename.dirty || storename.touched)) {
                      @if (storename.hasError('required')) {
                        Store Name is required.

                      }
                    }

                  </div>
                </div>
                <div class="col">
                  <div>
                    <label for="address">Address</label>
                    <textarea id="address" class="form-control" [(ngModel)]="signUpRequest.address1" required
                      #address="ngModel"></textarea>

                    @if(address.invalid && (address.dirty || address.touched)){
                      @if(address.hasError('required')){
                        <div class="error">
                          Address is required.
                        </div>
                      }
                    }

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="country">Country<span style="color: red;">*</span></label>
                    <select id="country" class="form-select" type="text" required [(ngModel)]="signUpRequest.country"
                      #country="ngModel">
                      <option value="">Select</option>
                      <option value="India">India</option>
                    </select>

                    @if(country.invalid && (country.dirty || country.touched)){
                      @if(country.hasError('required')){
                        <div class="error">
                          Country is required.
                        </div>
                      }
                    }

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="state">State<span style="color: red;">*</span></label>
                    <!-- <input id="roles" class="form-control" formControlName="roles" type="text" /> -->
                    <select id="state" class="form-select" [(ngModel)]="signUpRequest.state" required #state="ngModel">
                      <option value="">Select</option>
                      <option value="Maharastra">Maharastra</option>

                    </select>

                    @if(state.invalid && (state.dirty || state.touched)){
                      @if(state.hasError('required')){
                        <div class="error">
                          State is required.
                        </div>
                      }
                    }

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="district">District<span style="color: red;">*</span></label>
                    <Select id="district" class="form-control" type="text" required="required"
                      [(ngModel)]="signUpRequest.district" #district="ngModel">
                      <option value="">Select</option>
                      <option value="Thane">Thane</option>
                    </Select>

                    @if(district.invalid && (district.dirty || district.touched)){
                      @if(district.hasError('required')){
                        <div class="error">
                          District is required.
                        </div>
                      }
                    }

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="pincode">Pincode<span style="color: red;">*</span></label>
                    <!-- <input id="roles" class="form-control" formControlName="roles" type="text" /> -->
                    <input type="number" id="pincode" class="form-control" required [(ngModel)]="signUpRequest.pincode"
                      #pincode="ngModel">

                      @if(pincode.invalid && (pincode.dirty || pincode.touched)){
                        @if(pincode.hasError('required')){
                          <div class="error">
                            Pincode is required.
                          </div>
                        }
                      }
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div>
                    <label for="secretkey">Secret Key <span style="color: red;">*</span></label>
                    <input id="secretkey" class="form-control" type="password" required
                      [(ngModel)]="signUpRequest.secretKey" #secretKey="ngModel" />

                      @if(secretKey.invalid && (secretKey.dirty || secretKey.touched)){
                        @if(secretKey.hasError('required')){
                          <div class="error">
                            Secret is required.
                          </div>
                        }
                      }

                  </div>
                </div>
              </div>
            </div>
            }



            @if (errorMessage) {
                    <div class="row p-2 mt-2 alert alert-danger">
              {{ errorMessage }}
            </div>}

            @if (message) {
            <div class="row p-2 mt-2 alert alert-success">
              {{ message }}
            </div>
            }
            <div class="row mt-3 justify-content-center">
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-center gap-3 flex-wrap">
                  <input class="form-control" style="max-width: 200px;" type="text" [(ngModel)]="signUpRequest.otp"
                    placeholder="Enter OTP" />
                  <button class="btn btn-outline-secondary" style="min-width: 120px;" (click)="sendOtp()"
                    [disabled]="otpSent">
                    Send OTP
                  </button>
                  <button class="btn btn-primary" style="min-width: 120px;" type="submit" (click)="onSubmit()">
                    Submit
                  </button>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <p class="m-0 my-3 text-secondary text-end">Already have an account? <a href="/login"
                  class="link-primary text-decoration-none">Login here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class=" py-3 py-md-5 mt-2"></section>
	<div class="container">
	  <div class="row justify-content-center">
        <div class="col-6">
		  <div class="card border border-light-subtle rounded-3 shadow-sm">
			<div class="card-body p-3 p-md-4 p-xl-5">
			  <div class="text-center mb-3">
				<a href="/login">
				  <img src="./assets/loginFromLogo.png" alt="BootstrapBrain Logo" width="175" height="57">
				</a>
			  </div>
			  <h4 class="text-center mb-4">Sign Up new account</h4>

              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                        <div>
                            <label for="username">Username <span style="color: red;">*</span></label>
                            <input id="username" class="form-control" formControlName="username" type="text" />
                            <div class="error"
                                *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
                                Username is required.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label for="email">Email <span style="color: red;">*</span></label>
                            <input id="email" class="form-control" formControlName="email" type="email" />
                            <div class="error"
                                *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                                Valid email is required.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <label for="password">Password <span style="color: red;">*</span></label>
                            <input id="password" class="form-control" formControlName="password" type="password" />
                            <div class="error"
                                *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                                Password is required (minimum 6 characters).
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label for="roles">Roles <span style="color: red;">*</span></label>
                            <select id="department" class="form-control" formControlName="roles">
                                <option value="" disabled>Select</option>
                                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                              </select>
                            <div class="error"
                                *ngIf="signupForm.get('roles')?.invalid && signupForm.get('roles')?.touched">
                                Role is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <label for="storeName">Store Name</label>
                            <input id="storeName" class="form-control" formControlName="storeName" type="text" />
                            <div class="error"
                                *ngIf="signupForm.get('storeName')?.invalid && signupForm.get('storeName')?.touched">
                                Store Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label for="address">Address</label>
                            <textarea id="address" class="form-control" formControlName="address"></textarea>
                            <div class="error"
                                *ngIf="signupForm.get('address')?.invalid && signupForm.get('address')?.touched">
                                Address is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <label for="secretKey">Secret Key <span style="color: red;">*</span></label>
                            <input id="secretKey" class="form-control" formControlName="secretKey" type="password" />
                            <div class="error"
                                *ngIf="signupForm.get('secretKey')?.invalid && signupForm.get('secretKey')?.touched">
                                Secret Key is required (minimum 10 characters).
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-5">
                        <div class="d-grid my-3">
                            <button class="btn btn-primary btn-md" type="submit" [disabled]="signupForm.invalid">Submit</button>
                          </div>
                    </div>
                    <div class="col-7">
                        <div class="row mt-2">
                            <p class="m-0 my-3 text-secondary text-end">Already have an account? <a href="/login" class="link-primary text-decoration-none">Login here</a></p>
                        </div>
                    </div>
                </div>
            </form>

			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section> -->
